DATABASE_URL=
FIREBASE_URL=
GAME_API_KEY=
LEONARDO_API_KEY=
GEMINI_API_KEY=

NEXT_PUBLIC_FIREBASE_KEY=
NEXT_PUBLIC_FIREBASE_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT=
NEXT_PUBLIC_FIREBASE_STORAGE=
NEXT_PUBLIC_FIREBASE_SENDER=
NEXT_PUBLIC_FIREBASE_APP=
